/* english */
/* fonts */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&family=Abel:wght@700&family=Manrope:wght@600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --footer-height:  53.39px;
}
.main-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .main-container {
    width: 758px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .main-container {
    width: 982px;
  }
}
/* Large */
@media (min-width: 1280px) {
  .main-container {
    min-width: 1275px;
  }
}
.dashboard-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
.projects::-webkit-scrollbar {
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(222, 222, 222, 0.7);
}
.projects::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.7);
}
.projects::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.projects,.proj {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.contact-screen {
  min-height:  calc(100vh - var(--footer-height));
}

/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 18px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15.5px;
  width: 15.5px;
  border-radius: 0.2rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
